import { html } from 'lit'
import './{{> componentName }}.scss'

export interface {{> componentName }}Props {
  page_title?: string
}

export const {{> componentName }} = ({
  page_title
}: {{> componentName }}Props) => {
  return html`<div class="['{{> componentPath}}--{{> componentClassName}}']">
    <div class="inner-{{> componentClassName}}">
      ${page_title
        ? html`<div class="{{> componentClassName}}-text">
            <div class="container">
              <h1>${page_title}</h1>
            </div>
          </div>`
        : ''}
    </div>
  </div>`
}
